# EX01 Basic operations

In [1]:
import pandas as pd

## Create a dataframe

In [2]:
df = pd.read_csv("../data/feed-views.log", names=("datatime", "user"), sep="\t")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datatime  1076 non-null   object
 1   user      1076 non-null   object
dtypes: object(2)
memory usage: 16.9+ KB

## Convert `datatime`

In [4]:
df["datatime"] = pd.to_datetime(df["datatime"])
df["year"] = df["datatime"].dt.year
df["month"] = df["datatime"].dt.month
df["day"] = df["datatime"].dt.day
df["hour"] = df["datatime"].dt.hour
df["minute"] = df["datatime"].dt.minute
df["second"] = df["datatime"].dt.second

In [5]:
df

,datatime,user,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datatime  1076 non-null   datetime64[ns]
 1   user      1076 non-null   object
 2   year      1076 non-null   int64
 3   month     1076 non-null   int64
 4   day       1076 non-null   int64
 5   hour      1076 non-null   int64
 6   minute    1076 non-null   int64
 7   second    1076 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 67.4+ KB

## Column `daytime`

In [7]:
labels = ["night", "early morning", "morning", "afternoon", "early evening", "evening"]
bins = [0, 4, 7, 11, 17, 20, 24]
df["daytime"] = pd.cut(df["hour"], labels=labels, bins=bins, include_lowest=True, right=False)

In [8]:
df.set_index("user", inplace=True)

In [9]:
df

,datatime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1076 entries, artem to artem
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datatime  1076 non-null   datetime64[ns]
 1   year      1076 non-null   int64
 2   month     1076 non-null   int64
 3   day       1076 non-null   int64
 4   hour      1076 non-null   int64
 5   minute    1076 non-null   int64
 6   second    1076 non-null   int64
 7   daytime   1076 non-null   category
dtypes: category(1), datetime64[ns](1), int64(6)
memory usage: 68.5+ KB

## Calculate dataframe

In [11]:
df.count()

datatime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [12]:
df['daytime'].value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

## Sort by `hour`, `minute`, and `second` in ascending order

In [13]:
df.sort_values(by=['hour', 'minute', 'second'])

,datatime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night
...,...,...,...,...,...,...,...,...
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,evening

## Calculate the *min()* and *max()*

In [14]:
max_hour = df[df['daytime'] == 'night']['hour'].max()
max_hour

3

In [15]:
min_hour = df[df['daytime'] == 'morning']['hour'].min()
min_hour

8

In [16]:
df.loc[df['hour'] == max_hour]

,datatime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-19 03:23:35.471598,2020,4,19,3,23,35,night
konstantin,2020-04-19 03:23:55.473926,2020,4,19,3,23,55,night
konstantin,2020-04-19 03:33:07.757714,2020,4,19,3,33,7,night

In [17]:
df.loc[df['hour'] == min_hour]

,datatime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning

## Calculate the *mode()* for the `hour` and `daytime`

In [18]:
df['hour'].mode()

0    22
Name: hour, dtype: int64

In [19]:
df['daytime'].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

## 3 earliest `hour` in the `morning` and the corresponding usernames

In [20]:
df.loc[df['daytime'] == 'morning'].nsmallest(3, columns=['hour'])['hour']

user
alexander    8
alexander    8
artem        9
Name: hour, dtype: int64

## 3 latest `hour` and the usernames

In [ ]:
df.loc[df['daytime'] == 'morning'].nlargest(3, columns=['hour'])['hour']

## Use the method *describe()* to get the basic statistics for the columns

In [22]:
df.describe()

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.249071    29.629182    29.500929
std       0.0     0.335557     4.906567     6.955490    17.689388    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

In [23]:
iqr = df.describe()['hour']['75%'] - df.describe()['hour']['25%']
iqr

9.0