# Exercise 03 : Selects and aggregations

## Imports

In [1]:
import pandas as pd

##  Load the JSON file and set `CarNumber` as the index column

In [2]:
df = pd.read_json('../data/auto.json', orient='records')
df.set_index('CarNumber', inplace=True)
df.head()

              Refund   Fines    Make  Model
CarNumber
Y163O8161RUS       2  3200.0    Ford  Focus
E432XX77RUS        1  6500.0  Toyota  Camry
7184TT36RUS        1  2100.0    Ford  Focus
X582HE161RUS       2  2000.0    Ford  Focus
92918M178RUS       1  5700.0    Ford  Focus

## Display:

### Display the rows only where the `Fines` are more than 2,100

In [3]:
df[df['Fines'] > 2100]

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
92918M178RUS       1   5700.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
E40577152RUS       1   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 4 columns]

### Display the rows only where the `Fines` are more than 2,100 and the `Refund` equals 2

In [4]:
df[(df['Fines'] > 2100) & (df['Refund'] == 2)]

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
M592CH197RUS       2   8594.586466       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   8594.586466      Toyota  Corolla

[309 rows x 4 columns]

### Display the rows only where the `Model` are from the list: [’Focus’, ’Corolla’]

In [5]:
df[df['Model'].isin(['Focus', 'Corolla'])]

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

### Display the rows only where the `CarNumber` is from the list: [’Y7689C197RUS’, ’92928M178RUS’, ’7788KT197RUS’, ’H115YO163RUS’, ’X758HY197RUS’]

In [6]:
df[df.index.isin(['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'])]

              Refund          Fines  Make  Model
CarNumber
92928M178RUS       1    8594.586466  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
Y7689C197RUS       1   27000.000000  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus

## Make the aggregations with the `make` and the `model`

### Display the median fines grouped by the `make`

In [7]:
df.groupby('Make')['Fines'].agg(['median'])

            median
Make
Audi        4200.0
BMW         6500.0
Ford        3500.0
Skoda       3250.0
Toyota      7700.0
Volkswagen  4300.0
Volvo       8500.0

### Display the median fines grouped by the `make` and the `model`

In [8]:
df.groupby(['Make', 'Model'])['Fines'].agg(['median'])

                    median
Make       Model
Ford       Focus    3500.0
           Mondeo   7650.0
Skoda      Octavia  3250.0
Toyota     Camry    7700.0
           Corolla  7700.0
Volkswagen Golf     4800.0
           Jetta    2800.0
           Passat   3500.0
           Touareg  5800.0

### Display the counts of fines grouped by the `make` and the `model`

In [9]:
df.groupby(['Make', 'Model'])['Fines'].agg(['count'])

                    count
Make       Model
Ford       Focus      575
           Mondeo       6
Skoda      Octavia     48
Toyota     Camry       16
           Corolla     18
Volkswagen Golf        20
           Jetta        6
           Passat      22
           Touareg      5

### Display the minimum and the maximum fines grouped by the `make` and the `model`

In [10]:
df.groupby(['Make', 'Model'])['Fines'].agg(['min', 'max'])

                       min            max
Make       Model
Ford       Focus     100.0  180000.000000
           Mondeo   1100.0   46200.000000
Skoda      Octavia   300.0  145000.000000
Toyota     Camry     500.0   22400.000000
           Corolla   900.0   34300.000000
Volkswagen Golf      200.0  168000.000000
           Jetta     500.0   46000.000000
           Passat    100.0   29700.000000
           Touareg   500.0    8594.586466

### Display the standard deviation of the fines grouped by the `make` and the `model`

In [11]:
df.groupby(['Make', 'Model'])['Fines'].agg(['std']).round(2)

                         std
Make       Model
Ford       Focus    15041.27
           Mondeo   18987.33
Skoda      Octavia  24339.74
Toyota     Camry     6410.25
           Corolla   9629.33
Volkswagen Golf     36950.84
           Jetta    17743.03
           Passat    6969.74
           Touareg   3461.78

## Make the aggregations with the `CarNumber`

### Display the `CarNumber` grouped by the number of the `Fines` in descending order

In [12]:
count_fines = df.reset_index()[['CarNumber', 'Fines']].groupby(['CarNumber']).count()
sort_frame = count_fines.groupby(['Fines', 'CarNumber']).count().sort_values('Fines', ascending=False)
sort_frame

Empty DataFrame
Columns: []
Index: [(4, Y7689C197RUS), (4, 92928M178RUS), (4, 7788KT197RUS), (3, O134HE197RUS), (3, 7361C8197RUS), (3, 7830C8197RUS), (3, 8818C877RUS), (3, 92918M178RUS), (3, 9498KX178RUS), (3, 9697MO178RUS), (3, H115YO163RUS), (3, H387TM197RUS), (3, H957HY161RUS), (3, K2797K154RUS), (3, M0299X197RUS), (3, H004MH197RUS), (3, O718MM163RUS), (3, Y352O8197RUS), (3, O77997197RUS), (3, Y973O8197RUS), (3, Y7129Y50RUS), (3, Y356O8197RUS), (3, Y358O8197RUS), (3, X765HY197RUS), (3, X758HY197RUS), (3, X256HE161RUS), (3, X015HY197RUS), (2, 96857X197RUS), (2, 9499KX178RUS), (2, 9683EC178RUS), (2, 9677MO178RUS), (2, 96659X178RUS), (2, 96429X178RUS), (2, 9523M8178RUS), (2, 92788M178RUS), (2, 9469EX178RUS), (2, 9468EX178RUS), (2, 9428EX178RUS), (2, 9409H7178RUS), (2, 934497178RUS), (2, 9182CE154RUS), (2, 9881HX152RUS), (2, 9822H8161RUS), (2, E33577152RUS), (2, 9883HX152RUS), (2, 9942KK197RUS), (2, 9943KK197RUS), (2, C410X938RUS), (2, C476M7161RUS), (2, C477M7161RUS), (2, C592EY154RUS), (2, C798ET50RUS), (2, E0697X152RUS), (2, E160YX77RUS), (2, E28877161RUS), (2, E316EH197RUS), (2, 90159H178RUS), (2, E34877152RUS), (2, E40577152RUS), (2, 9020YC197RUS), (2, 8180XX154RUS), (2, 89587X197RUS), (2, 7365C8197RUS), (2, 7840C8197RUS), (2, 7831C8197RUS), (2, 7784KT197RUS), (2, 7781KT197RUS), (2, 7369C8197RUS), (2, 7368C8197RUS), (2, 7364C8197RUS), (2, 8611T8154RUS), (2, 7248C8197RUS), (2, 7183TT36RUS), (2, 7177TT36RUS), (2, 707987163RUS), (2, 7066C8197RUS), (2, 7065C8197RUS), (2, 7842C8197RUS), (2, 7843C8197RUS), (2, 7844C8197RUS), (2, 8165XX154RUS), (2, 8166XX154RUS), (2, E432XX77RUS), (2, 8201XX154RUS), (2, 8234XX154RUS), (2, 8311XX154RUS), (2, 8316XX154RUS), (2, 8321XX154RUS), (2, 83298C154RUS), (2, 8436XX154RUS), (2, 8437XX154RUS), (2, 84438C154RUS), (2, 8601XX154RUS), (2, 8603T8154RUS), (2, E42277152RUS), (2, 8685HE154RUS), (2, E445TC197RUS), (2, X257HE161RUS), (2, X786CO96RUS), (2, X782CO96RUS), ...]

[531 rows x 0 columns]

### Top-1 `CarNumber`

In [13]:
sort_frame.reset_index(inplace=True)

In [14]:
top_num = sort_frame[sort_frame['Fines'] == sort_frame['Fines'].max()]['CarNumber'].to_list()
df[df.index.isin(top_num)].sort_index()

              Refund         Fines  Make  Model
CarNumber
7788KT197RUS       2  12000.000000  Ford  Focus
7788KT197RUS       2   8594.586466  Ford  Focus
7788KT197RUS       1  20000.000000  Ford  Focus
7788KT197RUS       2   4000.000000  Ford  Focus
92928M178RUS       1   8594.586466  Ford  Focus
92928M178RUS       1    600.000000  Ford  Focus
92928M178RUS       1   1200.000000  Ford  Focus
92928M178RUS       2   3000.000000  Ford  Focus
Y7689C197RUS       1  27000.000000  Ford  Focus
Y7689C197RUS       2   9000.000000  Ford  Focus
Y7689C197RUS       2  45000.000000  Ford  Focus
Y7689C197RUS       1  36000.000000  Ford  Focus

### Display the `CarNumber` grouped by the sum of the `Fines` in descending order

In [15]:
sum_fines = df.reset_index()[['CarNumber', 'Fines']].groupby(['CarNumber']).sum()
sum_frame = sum_fines.groupby(['Fines', 'CarNumber']).sum().sort_values('Fines', ascending=False)
sum_frame

Empty DataFrame
Columns: []
Index: [(242000.0, X758HY197RUS), (217500.0, 9020YC197RUS), (216000.0, M0279X197RUS), (207200.0, Y352O8197RUS), (192000.0, Y778EE197RUS), (117000.0, Y7689C197RUS), (112994.5864661654, Y973O8197RUS), (96000.0, M0299X197RUS), (94000.0, T477KX197RUS), (83400.0, X765HY197RUS), (78900.0, Y273O8197RUS), (76300.0, Y358O8197RUS), (75900.0, O83797197RUS), (74000.0, O22397197RUS), (73800.0, T6418M116RUS), (69794.5864661654, Y356O8197RUS), (69300.0, H004MH197RUS), (63300.0, O672E8197RUS), (57000.0, M580CH197RUS), (56700.0, 96857X197RUS), (56594.5864661654, Y7129Y50RUS), (54000.0, X767HY197RUS), (51000.0, 7844C8197RUS), (50000.0, X759HY197RUS), (49500.0, 9943KK197RUS), (48000.0, X015HY197RUS), (46200.0, K889HY161RUS), (46000.0, X908XC197RUS), (44594.5864661654, 7788KT197RUS), (43000.0, 7248C8197RUS), (42700.0, E34877152RUS), (40600.0, M0289X197RUS), (39600.0, H427YH197RUS), (36594.5864661654, O77997197RUS), (36000.0, T6419O50RUS), (34300.0, T020OX197RUS), (33000.0, 9182CE154RUS), (32500.0, 9683EC178RUS), (31800.0, H889YK197RUS), (31200.0, Y966O8197RUS), (30900.0, T769OT197RUS), (30900.0, 9881HX152RUS), (30300.0, O143HO197RUS), (29194.586466165398, M0269X197RUS), (28500.0, Y388E877RUS), (28500.0, 9938KK197RUS), (28100.0, H305T8197RUS), (27794.586466165398, K339T8197RUS), (27594.586466165398, O134HE197RUS), (25500.0, T399KX197RUS), (24900.0, O275O7161RUS), (24300.0, O22097197RUS), (24000.0, T6309O50RUS), (23894.586466165398, 7830C8197RUS), (23400.0, Y969O8197RUS), (22800.0, T395KX197RUS), (22400.0, 89557X197RUS), (22300.0, M0309X197RUS), (21800.0, Y353O8197RUS), (21600.0, 7183TT36RUS), (21600.0, Y963O8197RUS), (21600.0, M372CH197RUS), (21000.0, T6488M116RUS), (20800.0, K327T8197RUS), (20500.0, O68897197RUS), (19800.0, T912CT197RUS), (19800.0, 7784KT197RUS), (19500.0, E432XX77RUS), (19500.0, E223YM197RUS), (19094.586466165398, O718MM163RUS), (18800.0, 7164YM36RUS), (18694.586466165398, 7369C8197RUS), (18400.0, 9698MO178RUS), (18300.0, X761HY197RUS), (18100.0, M375CH197RUS), (18000.0, O669E8197RUS), (18000.0, 7842C8197RUS), (18000.0, 7066C8197RUS), (17500.0, 8818C877RUS), (17500.0, H218X836RUS), (17400.0, K338T8197RUS), (17194.586466165398, H232YH197RUS), (17000.0, X023HY197RUS), (17000.0, M577CH197RUS), (16500.0, T6439O50RUS), (16500.0, E53677152RUS), (16400.0, 7843C8197RUS), (15900.0, E42277152RUS), (15800.0, Y7699C197RUS), (15494.5864661654, H419XE197RUS), (15400.0, K899T8197RUS), (15394.5864661654, E773EH197RUS), (15200.0, 92918M178RUS), (15200.0, 7065C8197RUS), (15000.0, X257HE161RUS), (15000.0, C798ET50RUS), (15000.0, T6049O50RUS), (14594.5864661654, Y275O8197RUS), (14300.0, X423MK197RUS), (13800.0, Y7719C197RUS), ...]

[531 rows x 0 columns]

### Top-1 `CarNumber`

In [16]:
df[df.index.isin([sum_frame.index[0][1]])]

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

###  `CarNumber` that were connected to different `model`

In [17]:
diff_frame=df.reset_index().drop_duplicates(['CarNumber','Model'])
diff_num = diff_frame["CarNumber"]
diff_frame[diff_num.isin(diff_num[diff_num.duplicated()])].set_index("CarNumber")

              Refund   Fines        Make    Model
CarNumber
E316EH197RUS       1  1300.0  Volkswagen     None
E316EH197RUS       1  1300.0  Volkswagen  Touareg