# EX00 Load and Save

In [1]:
import pandas as pd

## Read_csv

In [2]:
df = pd.read_csv(
    "../data/feed-views.log",
    skiprows=[2, 3],
    skipfooter=2,
    names=("datatime", "user"),
    index_col="datatime",
    sep="\t",
    engine="python"
)

In [3]:
df.head()

                              user
datatime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [4]:
df.tail()

                                 user
datatime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1072 entries, 2020-04-17 12:01:08.463179 to 2020-05-21 23:23:49.995349
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   user    1072 non-null   object
dtypes: object(1)
memory usage: 16.8+ KB

## Rename datatime to data_time

In [6]:
df.index.name = "data_time"

In [7]:
df.head()

                              user
data_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

## Save to_csv

In [8]:
df.to_csv("../data/feed-views-semicolon.log", sep=";")

In [9]:
!head -n 6 ../data/feed-views-semicolon.log

data_time;user
2020-04-17 12:01:08.463179;artem
2020-04-17 12:01:23.743946;artem
2020-04-17 12:35:52.735016;artem
2020-04-17 12:36:21.401412;oksana
2020-04-17 12:36:22.023355;oksana

In [11]:
!head -n 5 ../data/feed-views.log

2020-04-17 12:01:08.463179	artem
2020-04-17 12:01:23.743946	artem
2020-04-17 12:27:30.646665	artem
2020-04-17 12:35:44.884757	artem
2020-04-17 12:35:52.735016	artem

In [10]:
!tail -n 5 ../data/feed-views-semicolon.log

2020-05-21 16:36:40.915488;ekaterina
2020-05-21 17:49:36.429237;maxim
2020-05-21 18:45:20.441142;valentina
2020-05-21 23:03:06.457819;maxim
2020-05-21 23:23:49.995349;pavel

In [12]:
!tail -n 5 ../data/feed-views.log

2020-05-21 18:45:20.441142	valentina
2020-05-21 23:03:06.457819	maxim
2020-05-21 23:23:49.995349	pavel
2020-05-21 23:49:22.386789	artem
2020-05-22 10:36:14.662600	artem